body{
    background-color: white;
    }
main{
    background-color: white;
    margin: auto;
    padding: 10px;
}
header{
    color: rgba(0,0,0,0.7);
    font: normal 14pt Arial;
    text-align: center;
}
p{
    font: normal 14pt Arial;
}
p#noticia{
    text-indent: 50px;
}
p#lateral{
    float:left;
    text-indent: 30px;
    margin-top: -130px;
    margin-left: 180px;
}
a{
    color:brown;
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}